<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="d-flex align-items-center justify-content-between">
    <a href="<%= root_path %>" class="logo d-flex align-items-center">
      <%= image_tag "logo.png" %>
      <span class="d-none d-lg-block">T-n-S</span>
    </a>
    <i class="bi bi-list toggle-sidebar-btn"></i>
  </div><!-- End Logo -->
  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
      <li class="nav-item dropdown pe-3">
        <% full_name = current_admin.name.upcase %>
        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
          <!-- <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle"> -->
          <span class="d-none d-md-block dropdown-toggle ps-2"><%= full_name %></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
          <li class="dropdown-header">
            <h6><%= current_admin.email %></h6>
            <span><%= full_name %></span>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <%= link_to admin_my_profile_index_path, class: "dropdown-item d-flex align-items-center" do %>
              <i class="bi bi-person"></i>
              <span>My Profile</span>
            <% end %>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <%= link_to admin_account_setting_index_path, class: "dropdown-item d-flex align-items-center" do %>
              <i class="bi bi-gear"></i>
              <span>Account Settings</span>
            <% end %>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <%= link_to destroy_admin_session_path,
                data: { method: :delete },
                class: "dropdown-item d-flex align-items-center" do %>
              <i class="bi bi-gear"></i>
              Sign Out
            <% end %>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
