<%= form_with(model: user, url: url, local: true) do |form| %>
  <%= form.fields_for :user_profile do |user_profile| %>
    <%= user_profile.hidden_field :id %>

    <%= render partial: 'layouts/shared/error_messages', locals: { resource: user } %>

    <h5><strong>Profile Infomation</strong></h5>
    <div class="row mb-3">
      <%= form.label :email, 'Email<span class="text-danger">*</span>'.html_safe, class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.email_field :email, class: 'form-control', required: true %>
      </div>
    </div>
    <div class="row mb-3">
      <%= user_profile.label :full_name, 'Full Name<span class="text-danger">*</span>'.html_safe, class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= user_profile.text_field :full_name, class: 'form-control', required: true %>
      </div>
    </div>
    <div class="row mb-3">
      <%= user_profile.label :nric, 'No.KTP<span class="text-danger">*</span>'.html_safe, class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= user_profile.text_field :nric, class: 'form-control field-number', required: true %>
      </div>
    </div>
    <div class="row mb-3">
      <%= user_profile.label :dob, 'Date of Birthday<span class="text-danger">*</span>'.html_safe, class: "col-sm-2 col-form-label" %>
      <div class="col-sm-3">
        <%= user_profile.date_field :dob, class: 'form-control', placeholder: 'dd/mm/yyyy', value: @user_profile.dob, autocomplete: :off, required: true %>
      </div>
    </div>
    <div class="row mb-3">
      <%= user_profile.label :gender, 'Gender <span class="text-danger">*</span>'.html_safe, class: "col-sm-2 col-form-label" %>
      <div class="col-sm-3">
        <%= user_profile.select :gender,
            options_for_select(genders, @user_profile.gender),
            {include_blank: 'Select Gender'}, class: 'form-select custom-select select2', required: true %>
      </div>
    </div>
    <div class="row mb-3">
      <%= user_profile.label :marital_status, 'Marital Status <span class="text-danger">*</span>'.html_safe, class: "col-sm-2 col-form-label" %>
      <div class="col-sm-3">
        <%= user_profile.select :marital_status,
            options_for_select(marital_statuses, @user_profile.marital_status),
            {include_blank: 'Select Marital Status'}, class: 'form-select custom-select select2', required: true %>
      </div>
    </div>
    <div class="row mb-3">
      <%= user_profile.label :company, 'Company / Community<span class="text-danger">*</span>'.html_safe, class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= user_profile.text_field :company, class: 'form-control', required: true %>
      </div>
    </div>
    <div class="row mb-3">
      <%= user_profile.label :job, 'Job<span class="text-danger">*</span>'.html_safe, class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= user_profile.text_field :job, class: 'form-control', required: true %>
      </div>
    </div>
    <div class="row mb-3">
      <%= user_profile.label :mobile_phone, 'Mobile Number<span class="text-danger">*</span>'.html_safe, class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= user_profile.text_field :mobile_phone, class: 'form-control field-number', required: true %>
      </div>
    </div>
    <div class="row mb-3">
      <%= user_profile.label :home_number, 'Home Number', class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= user_profile.text_field :home_number, class: 'form-control field-number' %>
      </div>
    </div>
    <div class="row mb-3">
      <%= user_profile.label :facebook, 'Facebook', class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= user_profile.text_field :facebook, class: 'form-control' %>
      </div>
    </div>
    <div class="row mb-3">
      <%= user_profile.label :instagram, 'Instagram', class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= user_profile.text_field :instagram, class: 'form-control' %>
      </div>
    </div>
    <div class="row mb-3">
      <%= user_profile.label :linkedin, 'Linkedin', class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= user_profile.text_field :linkedin, class: 'form-control' %>
      </div>
    </div>

    <h5 class="mt-4"><strong>Address</strong></h5>
    <div class="row mb-3">
      <%= user_profile.label :address, 'Full Address<span class="text-danger">*</span>'.html_safe, class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= user_profile.text_area :address, class: 'form-control', required: true %>
      </div>
    </div>
    <div class="row mb-3">
      <%= user_profile.label :country_id, 'Country <span class="text-danger">*</span>'.html_safe, class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= user_profile.select :country_id,
            options_for_select(countries, @user_profile.country_id),
            {include_blank: 'Select Country'}, class: 'form-select custom-select select2', required: true %>
      </div>
    </div>
    <div class="row mb-3">
      <%= user_profile.label :city, 'City<span class="text-danger">*</span>'.html_safe, class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= user_profile.text_field :city, class: 'form-control', required: true %>
      </div>
    </div>
    <div class="row mb-3">
      <%= user_profile.label :postcode, 'Postcode<span class="text-danger">*</span>'.html_safe, class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= user_profile.number_field :postcode, class: 'form-control', required: true %>
      </div>
    </div>
    <div class="card-footer text-right">
      <%= form.submit "Submit", class: 'btn btn-success', id: 'button-form-user' %>

      <% back_url = @user.new_record? ? admin_users_path : admin_user_path(@user) %>
      <%= link_to "Back", back_url, class: 'btn btn-outline-primary' %>
    </div>
  <% end %>
<% end %>
